CompileFlags:
  Compiler: /usr/lib/llvm-21/bin/clang++
  Add:
    - -Wno-unknown-warning-option
    - -Wno-user-defined-literals
    - -Wno-ignored-attributes
---
If:
  PathMatch: .*cpu_search_avx512\.cpp
Diagnostics:
  Suppress: ["*"]
