CompileFlags:
  CompilationDatabase: "build"
  Add:
    - -fopenmp
    - -I/usr/lib/gcc/x86_64-linux-gnu/15/include

---
If:
  PathMatch: .*test_main\.cpp
Diagnostics:
  Suppress:
    - unused-includes
